body {
    margin: 0;
    padding: 0;

    font-family: 'Cuprum', Arial sans-serif;
    font-size: 17px;
    line-height: 17px;
    font-weight: 400;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.btn {
    background-color: #ee3643;
}

.btn:hover {
    background-color: #ca2c37;
}   

.btn:active,
.btn:focus {
  background-color: #ba2732;
}

.visually-hidden {
    display: none;
}

.header-top a,
.site-nav a {
    color: #ffffff;
}

.main-header {
    background-color: #f4f7f9;
}

.header-top {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;

    background-color: #293449;
}

.logo img {
    background-color: #ee3643;
}

.logo img:hover {
    background-color: #ca2c37;
}

.logo img:active,
.logo img:focus {
    background-color: #ba2732;
}

.search label {
    font-size: 0;
}

.search input::-webkit-input-placeholder {
    color: #ffffff;
}

.search input[type="text"]{
    color: #000000;

    background-color: #293449;
    border: none;
}

.search input[type="text"]:hover {
    background-color: #212a3a;
}

.search input[type="text"]:active,
.search input[type="text"]:focus {
    display: inline;

    background-color: #ffffff;
}

.tab,
.cart {
    background-color: #293449;
}

.cart-full {
    background-color: #ee3643;
}

.tab:hover,
.cart:hover {
    background-color: #212a3a;
}

.tab:active,
.cart:active,
.tab:focus,
.cart:focus {
    opacity: 0.6;
    background-color: #161d29;
}

.сheckout {
    background-color: #63a63e;
}

.сheckout:hover {
    background-color: #5fbb2d;
}

.сheckout:active,
.сheckout:focus {
    opacity: 0.5;

    background-color: #518534;
}  

.main-header h1 {
    width: 196px;
    height: 60px;
    font-family: Cuprum;
    font-size: 16px;
    font-style: italic;
    line-height: 23px;
    color: #ee3643;
}

.tel {
    font-family: Cuprum;
    font-size: 21px;
    line-height: 21px;
    letter-spacing: 0.4px;
    color: #e9292a;
}

.header-contacts p {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #32425c;
}

.check-in {
    list-style: none;
}

.check-in a {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}

.check-in a:hover {
    font-size: 21px;
    line-height: 21px;
    
    color: #ee3643;
}

.check-in a:active,
.check-in a:focus {
    opacity: 0.3;
    font-size: 21px;
    line-height: 21px;
}
.user li:nth-child(1),
.user li:nth-child(2) {
    list-style: none;
}

.username {
    font-size: 21px;
    line-height: 21px;
    
    background-color: #fff;
}

.user a {
    font-size: 16px;
    color: #32425c;
    text-decoration: underline;
}

.site-nav {
    list-style: none;
}

.site-nav li {
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;

    background-color: #32425c;
}

.site-nav a:hover {
    background-color: #32425c;
}

.site-nav a:active,
.site-nav a:focus {
    opacity: 0.5;

    background-color: #1d2739;
}

.breadcrumbs {
    list-style: none;
}

.breadcrumbs a,
.breadcrumbs li {
    font-family: PTSans;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}

.hammers {
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    color: #32425c;
    
    background-color: #f2f6f8;
}

.filters h3 {
  font-family: PTSans;
  font-size: 13px;
  line-height: 18px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-family: PTSans;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  line-height: 20px;
  font-family: PTSans;
  font-size: 15px;
}

.filters button {
  font-family: PTSans;
  font-size: 13px;
  line-height: 18px;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.catalog-list {
    list-style: none;
}

.catalog-list a {
    color: #000000;
}

.catalog-list h3 {
    font-family: PTSans;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
}

.price {
    font-family: PTSans;
    font-size: 17px;
    font-weight: bold;
    line-height: 18px;
}

.old-price {
     font-family: PTSans;
     font-size: 17px;
     font-weight: bold;
     line-height: 18px;
     color: #999999;
     text-decoration: line-through;
}

.catalog-item:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.about h2 {
    font-size: 30px;
    line-height: 30px;
}

.about p {
    font-family: PTSans;
    font-size: 13px;
    line-height: 24px;
    text-align: left;
}

.about a {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
}

.partners {
    list-style: none;
}

.partners li {
    font-size: 18px;
    line-height: 20px;
}

.contacts h2 {
    font-size: 30px;
    line-height: 30px;
}

.contacts p {
    font-family: PTSans;
    font-size: 13px;
    line-height: 24px;
}

.contacts .btn {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
}

.footer-top {
    background-color: #32425c;
}

.contacts-footer {
    color: #ffffff;
}

.nav-footer,
.nav-footer-gold,
.footer-social ul{
    list-style: none;
}

.nav-footer a {
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.nav-footer-gold a {
    font-size: 18px;
    line-height: 24px;
    color: #ffda96;
}

.nav-footer a:hover,
.nav-footer-gold a:hover{
    text-decoration: underline;
}

.nav-footer a:active,
.nav-footer-gold a:active,
.nav-footer a:focus,
.nav-footer-gold a:focus {
    opacity: 0.5;
    text-decoration: none;
}

.footer-bottom {
    background-color: #32425c;
}

.footer-copyright p {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.footer-social a {
    color: #ffffff;

    background-color: #212a3a;
}

.footer-social a:hover,
.footer-social a:focus,
.footer-social a:focus {
    background-color: #ee3643;
}

.email p,
.developer p{
    color: #ffffff;
}

.email a,
.developer a {
    font-size: 16px;
    line-height: 18px;
    color: #ffda96;
}

.email a:hover,
.developer a:hover {
    text-decoration: underline;
    color: #ffda96;
}

.email a:active,
.developer a:active,
.email a:focus,
.developer a:focus {
    text-decoration: none;
    color: #ee3643;
}


