body {
    margin: 0;
    padding: 0;

    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 17px;
    line-height: 17px;
    font-weight: 400;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.visually-hidden {
    display: none;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.btn {
    color: #ffffff;
    background-color: #ee3643;
}

.btn:hover {
    background-color: #ca2c37;
}   

.btn:active,
.btn:focus {
    background-color: #ba2732;
}

.header-top a,
.site-nav a {
    color: #ffffff;
}

.main-header {
    padding-bottom: 60px;
    
    background-color: #f4f7f9;
}

.header-top {
    display: flex;
    min-height: 42px;

    font-size: 17px;
    line-height: 18px;
    color: #ffffff;

    background-color: #293449;
}

.logo-search {
    position: relative;
    width: 490px;
}

.logo img {
    position: absolute;
    top: 0;
    left: 0;

    width: 109px;
    height: 19px;
    padding: 13px 56px 14px 55px;
    
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;
}

.logo img:hover {
    background-color: #ca2c37;
}

.logo img:active,
.logo img:focus {
    background-color: #ba2732;
}

.search {
    position: relative;
    margin-left: 220px;
}

.search input[type="text"] {
    width: 220px;
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 50px;

    color: #000000;

    background: url("../img/icon-search-gray.svg") no-repeat 17px 11px;
    border: none;
}

.search input[type="text"]:hover {
    background-image: url("../img/icon-search.svg");
    background-color: #212a3a;
    background-repeat: no-repeat;
    background-position: 17px 11px;
}

.search input[type="text"]:active,
.search input[type="text"]:focus {
    display: inline-block;
    
    background-color: #ffffff;
    background-image: url("../img/icon-search-red.svg");
    background-repeat: no-repeat;
    background-position: 17px 11px;
}

.search input::-webkit-input-placeholder {
    color: #ffffff;
}

.links {
    position: relative;
}

.tab {
    width: 106px;
    padding: 12px 0 12px 44px;
}

.tab::before {
    content: "";

    position: absolute;
    top: 12px;
    left: 17px;

    width: 14px;
    height: 16px;

    background: url("../img/icon-bookmark.svg") no-repeat 0 0;

    opacity: 0.3;
}

.cart {
    width: 100px;
    padding: 12px 0 12px 50px;
}

.cart::before {
    content: "";

    position: absolute;
    top: 12px;
    left: 170px;

    width: 14px;
    height: 16px;

    background: url("../img/icon-cart.svg") no-repeat 0 0;

    opacity: 0.3;
}

.tab:hover::before,
.cart:hover::before {
    opacity: 1;
}

.tab:active::before,
.cart:active::before,
.tab:focus::before,
.cart:focus::before {
    opacity: 0.5;
}

.tab,
.cart {
    background-color: #293449;
}

.cart-full {
    background-color: #ee3643;
}

.tab:hover,
.cart:hover {
    background-color: #212a3a;
}

.tab:active,
.cart:active,
.tab:focus,
.cart:focus {
    opacity: 0.6;
    background-color: #161d29;
}

.сheckout {
    padding: 12px 21px 12px 20px;
    background-color: #63a63e;
}

.сheckout:hover {
    background-color: #5fbb2d;
}

.сheckout:active,
.сheckout:focus {
    opacity: 0.5;

    background-color: #518534;
}  

.header-middle h1,
.header-middle p {
    margin: 0;
    padding: 0;
}

.main-header h1 {
    width: 197px;
    padding-top: 6px;
    padding-left: 53px;

    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    line-height: 23px;
    color: #ee3643;
}

.tel {
    display: block;
}

.tel {
    padding: 10px 0px 8px 65px;
    margin-right: 31px;

    font-size: 21px;
    line-height: 21px;
    letter-spacing: 0.4px;
    color: #e9292a;

    border: solid 3px #ffffff;
}

.header-contacts p {
    margin-top: 6px;
    margin-left: 10px;

    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.header-contacts {
    position: relative;
}

.header-contacts::before {
    content: "";

    position: absolute;
    top: 13px;
    left: 15px;

    width: 19px;
    height: 19px;

    background: url("../img/icon-phone.svg") no-repeat 0 0;
}

.check-in {
    list-style: none;
}

.check-in a {
    font-size: 21px;
    line-height: 21px;
    color: #000000;

    background-color: #ffffff;
}

.check-in a:hover {
    font-size: 21px;
    line-height: 21px;
    
    color: #ee3643;
}

.check-in a:active,
.check-in a:focus {
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    
    opacity: 0.3;
}

.user {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 300px;

    margin: 0;
    padding: 0;
}


.user li{
    list-style: none;
}

.username {
    position: relative;

    display: block;
    padding: 11px 67px 7px 47px;

    font-size: 21px;
    line-height: 21px;
    
    background-color: #fff;
}

.icon-user {
    position: absolute;
    top: 13px;
    left: 13px;

    width: 20px;
    height: 18px;
}

.username .logout{
    position: absolute;
    top: 11px;
    right: 14px;

    width: 20px;
    height: 18px;
}

.icon-user:hover path,
.logout:hover path {
    fill: #32425c;
}

.icon-user:active,
.icon-user:focus,
.logout:active,
.logout:focus {
    opacity: 0.3;
}

.orders {
    padding-left: 19px;
}

.private {
    position: relative;

    padding-right: 72px;
}

.private::before {
    content: "";

    position: absolute;
    top: 8px;
    left: -17px;

    width: 4px;
    height: 4px;
    background-color: red;
    background: url("../img/dot.svg") no-repeat 0 0;
}

.user a {
    font-size: 16px;
    color: #32425c;
    text-decoration: underline;
}

.user a:hover {
    color: #ee3643;
}

.user a:active,
.user a:focus,
.user span:active,
.user span:focus {
    color: #000000;

    opacity: 0.3;
}

.check-in a {
    display: block;
}

.site-nav {
    display: flex;
    flex-wrap: wrap;

    width: 940px;
    margin: 0;
    padding: 0;
    margin-top: 44px;

    list-style: none;

    background-color: #32425c;
    box-shadow: inset 0px -5px 0 0 #293449;
}

.site-nav li {
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
}

.site-item:first-child a {
    padding-left: 52px;
}

.site-item:last-child a {
    padding-right: 60px;
}

.site-nav a {
    display: block;

    padding: 22px 30px;
}

.site-nav a:hover {
    background-color: #293449;
}

.site-nav a:active,
.site-nav a:focus {
    color: rgba(255, 255, 255, 0.5);

    background-color: #1d2739;
}

.breadcrumbs {
    list-style: none;
}

.breadcrumbs {
    position: relative;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
}

.home {
    top: 3px;
    
    width: 15px;
    height: 12px;
    

    background: url("../img/icon-home.svg") no-repeat 0 0;
}

.breadcrumbs li {
    position: relative;

    padding-right: 40px;
}

.breadcrumbs li::before {
    content: "";

    position: absolute;
    top: 3px;
    left: -18px; 

    width: 8px;
    height: 12px;
  
    background: url("../img/icon-right-small.svg") no-repeat 0 0;
}

.breadcrumbs .home::before {
    display: none;
}

.breadcrumbs a,
.breadcrumbs li {
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
}

.options {
    margin-top: 59px;
}

.options-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;

    width: 940px;
    min-height: 410px;
    margin: 0;
    padding: 0;
}

.options-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    order: 1;

    width: 300px;
    height: 266px;
}

.slider-wrapper {
    display: flex;
    justify-content: space-between;

    width: 940px;
    height: 267px;
    margin-top: 20px;
}
    

.option-item {
    width: 300px;
    height: 123px;

    list-style: none;

    border-bottom: 1px solid transparent;
}

.transport {
    margin-top: 20px;
}

.option-item h3 {
    margin: 0;
    padding: 0;
    padding: 23px 100px 12px 23px;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
}

.option-item a {
    color: #ffffff;
}

.option-item h3 + a {
    display: block;
    box-sizing: border-box;
    width: 135px;
    margin-left: 24px;
    margin-bottom: 21px;
    padding: 10px 17px;

    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    
    border-radius: 2px;
}

.materials {
    position: relative;

    background-color: #ffbf47;
}

.materials::before {
    content: "";
    position: absolute;
    top: 31px;
    right: 43px;

    width: 44px;
    height: 65px;

    background: url("../img/icon-1.svg") no-repeat 0 0;
}

.materials h3 + a,
.tool h3+a,
.mechanism h3+a,
.discounts h3+a,
.transport h3+a {
    color: #ffffff;

    background-color: rgba(0, 0, 0, 0.1);
}

.materials h3 + a:hover,
.tool h3+a:hover,
.mechanism h3+a:hover,
.discounts h3+a:hover,
.transport h3+a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.materials h3+a:active,
.materials h3+a:focus,
.tool h3+a:active,
.tool h3+a:focus,
.mechanism h3+a:active,
.mechanism h3+a:focus,
.discounts h3+a:active,
.discounts h3+a:focus,
.transport h3+a:active,
.transport h3+a:focus {
    background-color: rgba(0, 0, 0, 0.3);
}

.option-item .flag {
    position: absolute;
    top: 0;
    right: 0;
  
    width: 60px;
    height: 60px;
  
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}

.option-item .flag-new {
    background: url("../img/new-flag.png") no-repeat 0 0;
}

.tool {
    position: relative;

    background-color: #3bbce3;
}

.tool::before {
    content: "";
    position: absolute;
    top: 33px;
    right: 28px;

    width: 75px;
    height: 61px;

    background: url("../img/icon-2.svg") no-repeat 0 0;
}

.mechanism {
    position: relative;

    background-color: #dc91d8;
}

.mechanism::before {
    content: "";
    position: absolute;
    top: 31px;
    right: 31px;

    width: 78px;
    height: 62px;

    background: url("../img/icon-3.svg") no-repeat 0 0;
}

.discounts {
    position: relative;

    background-color: #8ed78f;
}

.discounts::before {
    content: "";
    position: absolute;
    top: 26px;
    right: 45px;

    width: 59px;
    height: 72px;

    background: url("../img/icon-4.svg") no-repeat 0 0;
}

.transport {
    position: relative;

    background-color: #ffc047;
}

.transport::before {
    content: "";
    position: absolute;
    top: 32px;
    right: 31px;

    width: 78px;
    height: 63px;

    background: url("../img/icon-5.svg") no-repeat 0 0;
}

.slider {
    position: relative;

    width: 620px;
    height: 266px;
}

.slider-text {
    position: absolute;
    top: 20px;
    left: 24px;
}

.slider h3,
.slider a,
.slider p {  
    margin: 0;
    padding: 0;
    color: #ffffff;
}

.slider h3 {
    padding-bottom: 5px;

    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    text-transform: uppercase;
}

.slider p {
    font-size: 18px;
    line-height: 24px;
}

.slider img {
    width: 620px;
    height: 266px;
}

.slide-1,
.slide-2 {
    display: none;
}

.product-1:checked ~ .slider .slide-1,
.product-2:checked ~ .slider .slide-2 {
    display: block;
}

.product-1:checked ~ .slider .product-slide-1::before,
.product-2:checked ~ .slider .product-slide-2::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;

    width: 6px;
    height: 6px;

    background-color: red;
    border-radius: 50%;
} 

.slider-controls {
    position: absolute;
    bottom: 30px;
    left: 315px;
    z-index: 20;

    font-size: 0;
}

.slider-controls label {
    position: relative;

    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 8px;

    vertical-align: top;

    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.slider-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.slider .back {
    position: absolute;
    top: 114px;
    left: 25px;

    width: 22px;
    height: 40px;

    font-size: 0;
    cursor: pointer;

    background: url("../img/icon-left.svg") no-repeat 0 0;
    border: none;
}

.slider .next {
    position: absolute;
    top: 114px;
    right: 25px;

    
    width: 22px;
    height: 40px;

    font-size: 0;
    cursor: pointer;

    background: url("../img/icon-right.svg") no-repeat 0 0;
    border: none;
}   

.slider .btn {
    position: absolute;
    bottom: 22px;
    left: 25px;
    
    width: 195px;
    padding: 10px 0;

    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;

    border-radius: 3px;
}

.companies-list li {
    width: 220px;
    height: 145px;
}

.hammers {
    margin: 0;
    padding: 0;
    margin-top: 22px;
    padding-top: 28px;
    padding-bottom: 30px;
    padding-left: 30px;

    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
    color: #32425c;
    
    background-color: #f2f6f8;
}

.filters {
    box-sizing: border-box;
    width: 220px;
}

.filters h3 {
    margin: 0;
    padding: 0;
    padding: 11px 0 10px 18px;
    margin-bottom: 17px;

    font-family: "PT Sans";
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;

    text-transform: uppercase;

    background-color: #f7f3ec;
    border-radius: 5px;
}

.filter-item .price-legend {
    margin-bottom: 15px;
}

.range-filter {
    width: 220px;
}

.price-controls {
    font-family: "PT Sans";
    font-size: 17px;
    line-height: 18px;
}

.range-controls {
    position: relative;

    height: 41px;
    margin-bottom: 9px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;

    background-color: #f7f3ec;

    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;

    background-color: #d7dcde;
}

.range-controls .bar {
  width: 152px;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;

    width: 4px;
    height: 4px;
    padding: 0;

    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    display: inline-block;
    width: 50%;

    font-size: 17px;
}

.price-controls input {
    box-sizing: border-box;
    width: 95px;
    padding: 10px 24px;

    font-family: "PT Sans";
    font-size: 17px;
    text-align: center;
    color: #000000;

    border: none;
    border-radius: 5px;
    background: #f7f3ec;
}

.max-price input[name=max-price] {
    margin-left: 15px;
}

.filter fieldset {
    position: relative;

    padding: 0;
    margin: 0;
    margin-bottom: 45px;

    border: none;
}

.manufacturers li:nth-child(5) {
    margin-bottom: 0;
}

.filter fieldset:nth-child(4) {
    margin-bottom: 80px;
}

.filter legend {
    margin-bottom: 26px;

    font-family: "PT Sans";
    font-size: 17px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
}

.filter {
    position: relative;
}

.filter fieldset::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;

    width: 220px;
    height: 1px;

    border-bottom: 1px solid #e5e5e5;
}

.filter .filter-item::after {
    display: none;
}

.filter ul {
    margin: 0;
    padding: 0;

    list-style: none;
    line-height: 20px;
    font-family: "PT Sans";
    font-size: 15px;
}

.filter li {
    margin-bottom: 22px;
    padding-left: 35px;

    text-transform: uppercase;
}

.filter-option label {
    position: relative;

    display: block;

    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -33px;

    width: 23px;
    height: 23px;

    background: url("../img/checkbox-off.svg") no-repeat 0 0;
}

.filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    top: -3px;
    left: -33px;

    width: 27px;
    height: 23px;

    background: url("../img/checkbox-on.svg") no-repeat 0 0;
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox:not(:checked) + label:hover::before {
    background: url("../img/checkbox-off-active.svg") no-repeat 0 0;
}

.filter-input-checkbox:checked + label:hover::after {  
    background: url("../img/checkbox-on-active.svg") no-repeat 0 0;
}

.filter-input-radio + label::before {
    content: "";

    position: absolute;
    top: -3px;
    left: -33px;

    width: 25px;
    height: 25px;
  
    background: url("../img/radio-off.svg") no-repeat 0 0;
}

.filter-input-radio:checked + label::after {
    content: "";

    position: absolute;
    top: -3px;
    left: -33px;

    width: 25px;
    height: 25px;

    background: url("../img/radio-on.svg") no-repeat 0 0;
}

.filter-input-radio + label:hover::before {
    background: url("../img/radio-off-active.svg") no-repeat 0 0;
}

.filter-input-radio:checked + label:hover::after {
    background: url("../img/radio-on-active.svg") no-repeat 0 0;
}

.filter-input-checkbox:disabled + label {
    opacity: 0.4;
} 

.filter-input-radio:disabled + label {
    opacity: 0.4;
} 

.filters button {
    width: 140px;
    height: 38px;
    margin: 0;
    padding: 0;

    font-family: "PT Sans";
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;

    background-color: #ffffff;
    border: 1px solid  #e5e5e5;
    border-radius: 3px;
}

.sorting {
    position: relative; 

    display: flex;
    align-items: center;

    width: 700px;
    min-height: 38px;

    background-color: #f7f3ec;
    border-radius: 5px;
}

.sorting h3 {
    margin: 0;
    padding: 0;
    margin-left: 20px;
    margin-right: 139px;

    font-family: "PT Sans";
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    text-transform: uppercase;
}

.sorting-list {
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;

    font-family: "PT Sans";
    font-size: 13px;
    line-height: 18px;

    list-style: none;
}

.sorting-list a {
    color: #000000;
    text-transform: uppercase;
    opacity: 0.3;

    border-bottom: 1px dotted #ee3643;
}

.sorting-list a:hover {
    opacity: 1;

    border-bottom: 1px solid #ee3643;
}

.sorting-list a:active,
.sorting-list a:focus {
    color: #ee3643;
    opacity: 1;

    border-bottom: none;
}

.sort-price {
    margin-right: 70px;
}

.sort-type {
    margin-right: 64px;
}

.sort-function {
    margin-right: 46px;
}

.sort-up {
    margin-right: 21px;
}

.sorting-list .sort-up,
.sorting-list .sort-down {
    border-bottom: none;
}

.sorting-list .sort-up:hover,
.sorting-list .sort-down:hover {
    border-bottom: none;
}

.sort-up:active path,
.sort-up:focus path,
.sort-down:active path,
.sort-down:focus path {
    fill: #ee3643;
    opacity: 1;
}

.catalog {
    width: 700px;
}

.catalog-columns {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;

    width: 700px;
    margin: 20px auto;
    padding: 0;

    list-style: none;
}

.catalog-list a {
    color: #000000;
}

.catalog-list h3 {
    min-height: 40px;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 15px;

    font-family: "PT Sans";
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
}

.catalog-item {
    position: relative;
    display: inline-block;
    box-sizing: border-box;

    width: 218px;
    margin-bottom: 20px;
    margin-right: 20px;

    text-align: center;

    border: 1px solid #e5e5e5;
}

.catalog-item .flag {
    position: absolute;
    top: -1px;
    right: -1px;
  
    width: 60px;
    height: 60px;
  
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}

.catalog-item .flag-new {
    background: url("../img/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions {
    position: absolute;
    top: 0;
    left: 0;

    width: 218px;
    height: 88px;
    padding: 40px 0;

    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
}

.actions .buy,
.actions .bookmark {
    position: relative;

    display: block;
    width: 129px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;

    color: white;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    text-transform: uppercase;
  
    background-color: #63a63e;
    border: 3px solid #63a63e;
    border-bottom-color: #367315;
    border-radius: 3px;
}

.actions .bookmark {
    color: #32425c;

    background: white;
    border-bottom-color: #63a63e;
}

.catalog-item .actions {
    display: none;
}

.catalog-item:hover .actions {
    display: block;
}

.actions .buy::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 12px;

    width: 15px;
    height: 15px;

    background: url("../img/icon-cart.svg") no-repeat 0 0;

    opacity: 0.3;
}

.actions .buy:hover::before,
.actions .buy:active::before,
.actions .buy:focus::before {
    opacity: 1;
}

.actions .buy:hover {
    background-color: #5fbb2d;
    border: 3px solid #5fbb2d;
    border-bottom-color:#367315;
}

.actions .buy:active,
.actions .buy:focus {
    background-color: #518534;
    border: 3px solid #518534;
}

.actions .bookmark:hover {
    border: 3px solid #32425c;
}

.actions .bookmark:active,
.actions .bookmark:focus {
    opacity: 0.3;
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-item:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item .price {
    position: relative;

    display: block;
    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 11px 30px;

    font-family: "PT Sans";
    font-size: 17px;
    font-weight: bold;
    line-height: 18px;
    color: #ffffff;

    background: #ee3643;
    border-radius: 3px;
}

.catalog-item .price:after {
    content: "";

    position: absolute;
    top: 0px;
    right: -20px;

    width: 0;
    height: 0;

    border: 20px solid white;
    border-left-color: #ee3643;
}

.catalog-item .old-price {
    display: block;

    min-height: 20px;
    margin-top: 15px;
    margin-bottom: 10px;

    font-family: "PT Sans";
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
    color: #999999;
    text-decoration: line-through;
}

.popular-items {
    position: relative;

    margin-top: 53px;
}

.popular-items h2,
.popular-companies h2 {
    margin: 0;
    padding: 0;
    padding: 30px 0 30px 30px;
    min-height: 90px;
    box-sizing: border-box;
    
    color: #32425c;
    
    background-color: #f9f5f0;
}

.popular-items h2,
.popular-companies h2,
.services h2,
.about h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.popular-items .btn,
.popular-companies .btn {
    position: absolute;
    top: 25px;
    right: 25px;

    width: 250px;
    padding: 10px 0;

    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;

    border-radius: 3px;
}

.catalog-popular {
    display: flex;
    flex-wrap: wrap;

    width: 940px;
}

.catalog-popular .catalog-item {
    margin-bottom: 0;
}

.catalog-popular .catalog-item:nth-child(3n) {
    margin-right: 20px;
}

.catalog-popular .catalog-item:nth-child(4n) {
    margin-right: 0;
}

.catalog-item:nth-child(4n) .price-last {
    margin-top: 43px;
}

.popular-companies {
    position: relative;

    margin-top: 21px;
}

.companies-list {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    margin-top: 20px;

    list-style: none;
}

.companies-list li {
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    width: 220px;
    min-height: 45px;
    margin-right: 20px;
    margin-bottom: 20px;

    text-align: center;
    vertical-align: middle;

    border: 1px solid #eaeaea;
}

.companies-list li:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.companies-list li:active,
.companies-list li:focus {
    box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
    opacity: 0.3;
}

.companies-list li:nth-child(4n) {
    margin-right: 0;
}

.services {
    position: relative;

    min-height: 522px;
    margin-top: 85px;

    background-color: #f4f7f9;
}

.services p {
    margin: 0;
    padding: 0;

    font-family: "PT Sans";
    font-size: 13px;
    line-height: 24px;
}

.services h2 {
    margin: 0;
    padding: 0;
    padding-top: 62px;
    padding-bottom: 30px;
}

.services-list {
    position: relative;

    margin: 0;
    padding: 0;
    margin-top: 70px;
    padding-bottom: 100px;

    list-style-type: none; 
}

.services-list::after {
    content: "";
    position: absolute;
    top: -40px;
    left: 230px;

    width: 10px;
    height: 279px;

    background: url("../img/line.png") no-repeat 0 0;
}

.service-item {
    width: 240px;
    min-height: 61px;

}

.service-item a {
    display: block;
    box-sizing: border-box;
    padding: 16px 0 15px 22px;

    font-size: 21px;
    font-weight: bold;
    line-height: 30px;
    color: #ffffff;
    
    background-color: #32425c;
    box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
}

.current a {
    color: #32425c;

    background-color: #ffffff;
    box-shadow: none;
}

.service-item a:hover {
    background-color: #293449;
}

.delivery-description,
.guarantee-description,
.credit-description {
    position: absolute;
    top: 237px;
    left: 320px;
}

.delivery-description {
    width: 620px;
    min-height: 280px;

    background: url("../img/truck.png") no-repeat 150px 30px;
}

.delivery-description h3,
.guarantee-description h3,
.credit-description h3 {
    margin: 0;
    padding: 0;

    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase;
    color: #32425c;
}

.delivery-description p,
.guarantee-description p,
.credit-description p {
    margin: 0;
    padding: 0;
    margin-top: 30px;

    font-family: "PT Sans";
    font-size: 13px;
    line-height: 24px;
}

.delivery-description p {
    width: 275px;
    min-height: 83px;
}

.guarantee-description {
    display: none;
    width: 620px;
    min-height: 280px;

    background: url("../img/guarantee.png") no-repeat 230px 0;
}

.guarantee-description p {
    width: 379px;
    min-height: 109px;
}

.credit-description {
    display: none;
    width: 620px;
    min-height: 280px;

    background: url("../img/credit.png") no-repeat 154px 0;
}

.credit-description p {
    width: 279px;
    min-height: 36px;
}

.about-contacts-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 76px;
    padding-bottom: 86px;
}

.about {
    width: 540px;
}

.about h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 32px;
}

.about p {
    margin: 0;
    padding: 0;

    font-family: "PT Sans";
    font-size: 13px;
    line-height: 24px;
    text-align: left;
}

.about p:nth-child(2) {
    margin-bottom: 30px;
}

.about p:nth-child(4) {
    margin-bottom: 22px;
}

.about a {
    margin: 0;
    padding: 0;
    padding: 10px 40px;

    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;

    border-radius: 3px;
}

.partners {
    margin: 0;
    padding: 0;
    margin-bottom: 48px;

    list-style: none;
}

.partners li {
    position: relative;

    margin: 0;
    padding: 0;
    padding-left: 36px;
    padding-bottom: 18px;

    font-size: 18px;
    line-height: 20px;
}

.partners li::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;

    width: 25px;
    height: 2px;

    background-color: #ee3643;
}

.partners li:nth-child(3) {
    padding-bottom: 0;
}

.contacts {
    width: 300px;
}

.contacts h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 32px;

    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.contacts p {
    margin: 0;
    padding: 0;
    width: 179px;
    margin-bottom: 38px;

    font-family: "PT Sans";
    font-size: 13px;
    line-height: 24px;
}

.contacts .btn {
    display: block;
    width: 300px;
    margin: 0;
    padding: 0;
    padding: 10px 0;
    margin-top: 35px;

    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;

    border-radius: 3px;
}

.pagination-list {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
    margin-top: 32px;
    margin-bottom: 60px;

    list-style: none;
}

.pagination-item {
    margin-right: 10px;
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-item a:hover {
    border: 1px solid #bdc6ca;
    border-radius: 3px;
}

.pagination-item a:active,
.pagination-item a:focus {
    border: 1px solid #ee3643;
    border-radius: 3px;
}

.pagination-item a {
    display: block;
    padding: 11px 17px;
    
    color: #000000;

    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.pagination-item-current a {
    color: #ffffff;

    background-color: #ee3643;
}

.pagination-item-next a {
    padding-left: 32px;
    padding-right: 32px;

    font-family: "PT Sans";
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.about-hammers {
    min-height: 260px;

    background-color: #f4f7f9;
}

.about-hammers h2,
.about-hammers p {
    margin: 0;
    padding: 0;
}

.about-hammers h2 {
    padding-top: 65px;
    padding-bottom: 30px;

    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.about-hammers p {
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 24px;
}

.footer-top {
    background-color: #32425c;
}

.footer-top .container {
    position: relative;
}

.logo-footer img {
    position: absolute;
    top: 0;
    left: 10px;

    width: 138px;
    height: 23px;
    padding: 20px 42px 25px 42px;

    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;
}

.logo-footer img:hover {
    background-color: #ca2c37;
}

.logo-footer img:active,
.logo-footer img:focus {
    background-color: #ba2732;
}

.contacts-footer {
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
}

.nav-footer,
.nav-footer-gold,
.footer-social ul{
    list-style: none;
}

.nav-footer a {
    font-size: 18px;
    line-height: 24px;
    color: #f1f5f7;
}

.nav-footer-gold a {
    font-size: 18px;
    line-height: 24px;
    color: #ffd180;
}

.nav-footer a:hover,
.nav-footer-gold a:hover{
    text-decoration: underline;
}

.nav-footer a:active,
.nav-footer-gold a:active,
.nav-footer a:focus,
.nav-footer-gold a:focus {
    opacity: 0.5;
    text-decoration: none;
}

.footer-bottom {
    background-color: #293449;
}

.footer-copyright p {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.footer-social a {
    color: #ffffff;

    background-color: #212a3a;
}

.footer-social {
    width: 132px;
    margin-right: 119px;
}

.footer-social ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-social a {
    display: block;

    width: 42px;
    height: 42px;

    border-radius: 50%; 
}

.social-vk {
    width: 26px;
    height: 15px;

    background: url("../img/icon-vk.svg") no-repeat 50% 50%;
}

.social-facebook {
    width: 12px;
    height: 22px;

    background: url("../img/icon-fb.svg") no-repeat 50% 50%;
}

.social-instagram {
    width: 21px;
    height: 21px;

    background: url("../img/icon-insta.svg") no-repeat 50% 50%;
}

.footer-social a:hover,
.footer-social a:focus,
.footer-social a:focus {
    background-color: #ee3643;
}

.email p,
.developer p{
    color: #ffffff;
}

.email a,
.developer a {
    font-size: 16px;
    line-height: 18px;
    color: #ffd180;
}

.email a:hover,
.developer a:hover {
    text-decoration: underline;
}

.email a:active,
.developer a:active,
.email a:focus,
.developer a:focus {
    text-decoration: none;
    color: #ee3643;
}

@keyframes bounce {
    0% {
        transform: translateY(2000px);
    }

    70% {
        transform: translateY(30px);
    }

    90% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}

.modal {
    position: fixed;

    display: none;
}

.modal-show {
    display: block;

    animation: bounce 0.6s;
}

.modal-error {
    animation: shake 0.6s;
}

.modal-feedback {
    bottom: 220px;
    left: 50%;

    width: 620px;
    height: 430px;
    margin-left: -310px;

    background-color: #ffffff;
    box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
    z-index: 100;
}

.feedback-form input,
.feedback-form textarea {
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 18px;
}

.feedback-form {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-top: 81px;

    border-top: 7px solid #ee3643;
}

.feedback-form input {
    box-sizing: border-box;
    width: 220px;
    height: 38px;
    margin: 0;
    padding: 0;
    padding-left: 16px;
    
    border: solid 2px #dee3e4;
    border-radius: 3px;
}

.feedback-form input:hover {
    border-color: #b5b5b5;
}

.feedback-form input:active,
.feedback-form input:focus {
    border-color: #ee3643;
}

.user-info,
.message {
    position: relative;
    margin-left: 80px;
}

.user-mail,
.message {
    position: relative;
    margin-right: 80px;
}

.user-info label,
.user-mail label {
    position: absolute;
    top: -25px;
    left: 0;
}

.message p {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 10px;
}

.message textarea {
    box-sizing: border-box;
    width: 460px;
    height: 114px;
    margin: 0;
    margin-bottom: 37px;
    padding: 0;
    padding-left: 16px;

    border: solid 2px #dee3e4;
    border-radius: 3px;
}

.modal-bottom {
    width: 620px;
    height: 112px;

    background-color: #f4f4f4;
}

.modal-submit {
    width: 460px;
    height: 38px;
    margin: 0;
    padding: 0;
    margin-top: 37px;
    margin-left: 80px;

    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;

    border: none;
    border-radius: 3px;
}

.close-feedback {
    position: absolute;
    top: 16px;
    right: 9px;

    width: 21px;
    height: 21px;

    cursor: pointer;

    background: url("../img/icon-close.svg") no-repeat 0 0;
    border: none;
}

.modal-map {
    width: 940px;
    height: 446px;
    top: 115px;
    left: 50%;
    
    margin-left: -470px;

    box-shadow: 0px 0px 14.72px 1.28px rgba(47, 42, 43, 0.5);
}

.modal-map iframe {
    position: absolute;
    z-index: 2;

    border: none;
}

.close-map {
    position: absolute;
    top: 9px;
    right: 9px;
    z-index: 5;

    width: 21px;
    height: 21px;

    cursor: pointer;

    background: url("../img/icon-close.svg") no-repeat 0 0;
    border: none;
}

.container main {
    position: relative;
}

.modal-cart {
    top: 421px;
    left: 50%;

    box-sizing: border-box;
    width: 620px;
    min-height: 282px;
    margin-left: -310px;

    background-color: #ffffff;
    border-top: 7px solid #ee3643;
    box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
    z-index: 100;
}

.modal-cart h2 {
    position: relative;

    margin: 0;
    padding: 0;
    padding: 72px 125px 73px 179px;
}

.modal-cart h2::before {
    content: "";

    position: absolute;
    top: 53px;
    left: 81px;

    width: 66px;
    height: 66px;

    background: url("../img/icon-mark.svg") no-repeat 0 0;
}

.user-actions {
    display: flex;
    justify-content: space-between;

    width: 620px;
    min-height: 112px;

    background-color: #f1f1f1;
}

.user-actions a,
.user-actions button {
    box-sizing: border-box;
    width: 220px;
    height: 38px;
    margin: 0;
    padding: 0;
    margin-top: 37px;
    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;

    border: none;
    border-radius: 3px;
}

.user-actions a {
    margin-left: 80px;

    color: #ffffff;
}

.user-actions button {
    margin-right: 80px;

    color: #000000;

    background-color: #ffffff;
}

.close-cart {
    position: absolute;
    top: 9px;
    right: 9px;

    width: 21px;
    height: 21px;

    cursor: pointer;

    background: url("../img/icon-close.svg") no-repeat 0 0;
    border: none;
}

/* ----- Сеточные стили ----- */

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.header-top .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo-search { 
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.сheckout {
    margin-right: 0;
}   

.header-middle {
    margin-top: 44px;
}

.header-middle .container {
    display: flex;
    justify-content: space-between;
}

.header-middle-tittle-wrapper,
.header-contacts,
.user-nav {
    width: 300px;
}

.check-in {
    position: relative;

    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;
}

.login {
    padding: 10px 27px 10px 48px;
}

.login svg {
    position: absolute;
    top: 12px;
    left: 14px;

    width: 20px;
    height: 17px;
}

.login:hover path {
    fill: #32425c;
}

.registration {
    padding: 10px 25px;
}

.footer-top {
    padding-bottom: 53px;
}

.footer-top .container {
    display: flex;
    justify-content: space-between;
}

.nav-footer,
.nav-footer-gold {
    margin: 0;
    padding: 0;
}

.nav-footer,
.nav-footer-gold {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-footer {
    width: 550px;
    padding-top: 40px;
}

.contacts-footer p {
    width: 330px;
    margin: 0;
    padding: 0;
}

.contacts-footer,
.nav-footer-gold {
    margin-top: 32px;
}

.nav-footer-gold {
    width: 530px;
}

.footer-copyright p,
.footer-social ul,
.email p,
.developer p {
    margin: 0;
    padding: 0;
}

.footer-bottom .container {
    display: flex;
    justify-content: space-between;
}

.footer-bottom {
    padding-top: 40px;
    padding-bottom: 32px;
}

.footer-copyright {
    width: 229px;
    margin-right: 161px;
}

.email {
    width: 135px;
    margin-right: 53px;
}

.developer {
    width: 110px;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
    margin-top: 23px;
}
