body {
    margin: 0;
    padding: 0;

    font-family: 'Cuprum', Arial sans-serif;
    font-size: 17px;
    line-height: 17px;
    font-weight: 400;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.visually-hidden {
  display: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
    background-color: #ee3643;
}

.btn:hover {
    background-color: #ca2c37;
}   

.btn:active,
.btn:focus {
  background-color: #ba2732;
}

.header-top a,
.site-nav a {
    color: #ffffff;
}

.main-header {
    background-color: #f4f7f9;
}

.header-top {
    display: flex;
    min-height: 42px;

    font-size: 17px;
    line-height: 18px;
    color: #ffffff;

    background-color: #293449;
}

.logo-search {
    position: relative;
    width: 490px;
}

.header-top .logo img {
    position: absolute;
    top: 0;
    left: 0;

    width: 109px;
    height: 19px;
    padding: 13px 56px 15px 55px;
    
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;
}

.logo img:hover {
    background-color: #ca2c37;
}

.logo img:active,
.logo img:focus {
    background-color: #ba2732;
}

.search label {
    font-size: 0;
}

.search {
    position: relative;
    margin-left: 216px;
}

.search::before {
    content: "";

    position: absolute;
    top: 12px;
    left: 17px;

    width: 17px;
    height: 17px;

    background-color: #ff0000;
    background: url("../img/icon-search.svg") no-repeat 0 0;

    opacity: 0.3;
}

.search:hover::before,
.search:focus::before,
.search:active::before {
  opacity: 1;
}

.search input::-webkit-input-placeholder {
    color: #ffffff;
}

.search input[type="text"] {
    width: 215px;
    padding-top: 10px;
    padding-bottom: 13px;
    padding-left: 50px;

    color: #000000;

    
    background-color: #293449;
    border: none;
}

.search input[type="text"]:hover {
    background-color: #212a3a;
}

.search input[type="text"]:active,
.search input[type="text"]:focus {
    display: inline-block;

    background-color: #ffffff;
}

.tab {
    padding: 13px 28px 15px 44px;
}

.cart {
    padding: 13px 31px 15px 50px;
}

.tab,
.cart {
    background-color: #293449;
}

.cart-full {
    background-color: #ee3643;
}

.tab:hover,
.cart:hover {
    background-color: #212a3a;
}

.tab:active,
.cart:active,
.tab:focus,
.cart:focus {
    opacity: 0.6;
    background-color: #161d29;
}

.сheckout {
    padding: 13px 21px 15px 20px;
    background-color: #63a63e;
}

.сheckout:hover {
    background-color: #5fbb2d;
}

.сheckout:active,
.сheckout:focus {
    opacity: 0.5;

    background-color: #518534;
}  

.main-header h1 {
    width: 196px;
    height: 60px;

    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    line-height: 23px;
    color: #ee3643;
}

.tel {
    font-size: 21px;
    line-height: 21px;
    letter-spacing: 0.4px;
    color: #e9292a;
}

.header-contacts p {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.check-in {
    list-style: none;
}

.check-in a {
    font-size: 21px;
    line-height: 21px;
    color: #000000;

    background-color: #ffffff;
}

.check-in a:hover {
    font-size: 21px;
    line-height: 21px;
    
    color: #ee3643;
}

.check-in a:active,
.check-in a:focus {
    opacity: 0.3;
    font-size: 21px;
    line-height: 21px;
}
.user li:nth-child(1),
.user li:nth-child(2) {
    list-style: none;
}

.username {
    font-size: 21px;
    line-height: 21px;
    
    background-color: #fff;
}

.user a {
    font-size: 16px;
    color: #32425c;
    text-decoration: underline;
}

.user a:hover {
    color: #ee3643;
}

.user a:active,
.user a:focus,
.user span:active,
.user span:focus {
    opacity: 0.3;
}

.site-nav {
    list-style: none;
}

.site-nav li {
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;

    background-color: #32425c;
}

.site-nav a:hover {
    background-color: #32425c;
}

.site-nav a:active,
.site-nav a:focus {
    opacity: 0.5;

    background-color: #1d2739;
}

.main-nav {
    padding-bottom: 60px;
}

.breadcrumbs {
    list-style: none;
}

.slider img {
  width: 620px;
  height: 266px;
}

.companies-list li {
    width: 220px;
    height: 145px;
}

.breadcrumbs a,
.breadcrumbs li {
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}

.hammers {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-align: left;
    color: #32425c;
    
    background-color: #f2f6f8;
}

.filters h3 {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
}

.filter ul {
  list-style: none;
  line-height: 20px;
  font-family: "PT Sans";
  font-size: 15px;
}

.filters button {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.catalog-list {
    list-style: none;
}

.catalog-list a {
    color: #000000;
}

.catalog-list h3 {
    font-family: "PT Sans";
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
}

.price {
    font-family: "PT Sans";
    font-size: 17px;
    font-weight: bold;
    line-height: 18px;
}

.old-price {
     font-family: "PT Sans";
     font-size: 17px;
     font-weight: 700;
     line-height: 18px;
     color: #999999;
     text-decoration: line-through;
}

.catalog-item:hover {
    box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-items h2,
.popular-companies h2 {
    color: #32425c;
}

.popular-items h2,
.popular-companies h2,
.services h2,
.about h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.services p {
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 24px;
}

.delivery-description h3 {
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    color: #32425c;
}

.delivery-description p {
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 24px;
}

.about p {
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 24px;
    text-align: left;
}

.about a {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
}

.partners {
    list-style: none;
}

.partners li {
    font-size: 18px;
    line-height: 20px;
}

.contacts h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.contacts p {
    font-family: "PT Sans";
    font-size: 13px;
    line-height: 24px;
}

.contacts .btn {
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
}

.footer-top {
    background-color: #32425c;
}

.contacts-footer {
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
}

.nav-footer,
.nav-footer-gold,
.footer-social ul{
    list-style: none;
}

.nav-footer a {
    font-size: 18px;
    line-height: 24px;
    color: #f1f5f7;
}

.nav-footer-gold a {
    font-size: 18px;
    line-height: 24px;
    color: #ffd180;
}

.nav-footer a:hover,
.nav-footer-gold a:hover{
    text-decoration: underline;
}

.nav-footer a:active,
.nav-footer-gold a:active,
.nav-footer a:focus,
.nav-footer-gold a:focus {
    opacity: 0.5;
    text-decoration: none;
}

.footer-bottom {
    background-color: #293449;
}

.footer-copyright p {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
}

.footer-social a {
    color: #ffffff;

    background-color: #212a3a;
}

.footer-social a:hover,
.footer-social a:focus,
.footer-social a:focus {
    background-color: #ee3643;
}

.email p,
.developer p{
    color: #ffffff;
}

.email a,
.developer a {
    font-size: 16px;
    line-height: 18px;
    color: #ffd180;
}

.email a:hover,
.developer a:hover {
    text-decoration: underline;
}

.email a:active,
.developer a:active,
.email a:focus,
.developer a:focus {
    text-decoration: none;
    color: #ee3643;
}

/* ----- Сеточные стили ----- */

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.header-top .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo-search { 
    display: flex;
    align-items: center;
}

.links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.сheckout {
    margin-right: 0;
}   

.header-middle {
    margin-top: 46px;
}

.header-middle .container {
    display: flex;
    justify-content: space-between;
}

.header-middle h1,
.header-middle p {
    margin: 0;
    padding: 0;
}

.header-middle h1,
.header-contacts,
.user-nav {
    width: 300px;
}

.user-nav {
    display: flex;
    margin: 0;
    padding: 0;
}

.check-in {
    display: flex;
    margin: 0;
    padding: 0;
}

.user {
    margin: 0;
    padding: 0;
}

.main-nav {
    margin-top: 44px;
}

.site-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-top: 44px;
    padding-top: 22px;
    padding-bottom: 23px;

    background-color: #293449;
}

.about-contacts-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 82px;
}

.about {
    width: 540px;
}

.contacts {
    width: 300px;
}

.footer-top {
    margin-top: 86px;
    padding-bottom: 53px;
}

.footer-top .container {
    display: flex;
    justify-content: space-between;
}

.container .logo-footer img {
    width: 136px;
    height: 22px;

    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;
}

.nav-footer,
.nav-footer-gold {
    margin: 0;
    padding: 0;
}

.nav-footer,
.nav-footer-gold {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-footer {
    width: 550px;
    padding-top: 40px;
}

.contacts-footer p {
    width: 330px;
    margin: 0;
    padding: 0;
}

.contacts-footer,
.nav-footer-gold {
    margin-top: 32px;
}

.nav-footer-gold {
    width: 530px;
}

.footer-copyright p,
.footer-social ul,
.email p,
.developer p {
    margin: 0;
    padding: 0;
}

.footer-bottom .container {
    display: flex;
    justify-content: space-between;
}

.footer-bottom {
    padding-top: 40px;
    padding-bottom: 32px;
}

.footer-copyright {
    width: 229px;
    margin-right: 161px;
}

.footer-social {
    width: 132px;
    margin-right: 119px;
}

.footer-social ul {
    display: flex;
}

.email {
    width: 135px;
    margin-right: 53px;
}

.developer {
    width: 110px;
}

.breadcrumbs {
    margin: 0;
    padding: 0;
    margin-top: 23px;
}

.hammers {
    margin: 0;
    padding: 0;
    margin-top: 22px;
    padding-top: 28px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.filters {
    width: 220px;
}

.catalog {
    width: 700px;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.sorting {
    width: 700px;

    min-height: 38px;
}

.sorting-list {
    display: flex;
    margin: 0;
    padding: 0;
    order: 0;
}

.catalog-item {
    width: 218px;
    margin-bottom: 20px;
    margin-right: 20px;

    min-height: 318px;
    border: 1px solid #e5e5e5;
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.pagination-list {
    margin: 0;
    padding: 0;
    margin-top: 52px;
}